.voteBox {
    height: 150px;
    width: 250px;
    color: #000;
    border: 2px solid #222;
    text-align: center;
}

.voteBox.dark {
    background-color: #222;
    color: #fff;
}

button:disabled {
    background-color: gray;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
}

.buttonContainer > p button {
    margin: 0 3px;
}

.AdDesignerContainer h2 {
    font-family: 'Caveat', cursive;
}

#AdFlavor {
    margin: 0;
    font-family: 'Caveat', cursive;
}